
.DS_Store
rootlessJB.xcodeproj/xcuserdata/josephshenton.xcuserdatad/xcschemes/xcschememanagement.plist
rootlessJB.xcodeproj/project.xcworkspace/xcuserdata/josephshenton.xcuserdatad/UserInterfaceState.xcuserstate
